.aboutUs_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20% 10% 20%;
}

@media (max-width: 768px) {
    .aboutUs_content {
        padding: 0 10% 5% 10%;
    }
}