.card {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Set the grid rows */
    align-items: center;
    justify-items: center;
    text-align: center;
}

.card img {
    border: 1px solid lightgray;
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}

.card p {
    margin: 10px 0; /* Added some margin for spacing */
}

.card h4 {
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0;
}
