.popup-content {
    border-radius: 10px;
    margin: auto;
    font-size: larger;
    font-weight: bolder;
    flex-direction: column;
    background: var(--accent-200);
    width: 45%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: var(--text-primary); Add a better color here */
}

.popup-content > button {
    padding: 0;
    border: none;
    background-color: var(--primary-200);
    /* border: 2.5px solid grey; */
    width: 15%;
    border-radius: 10px;
    align-content: center;
    margin-top: 1%;
    color: var(--text-100);
}

@media screen and (max-width: 768px) {
    .popup-content {
        width: 80%;
        height: 40%;
    }
    
    .popup-content > button {
        width: 30%;
    }
}

@media screen and (min-width: 1200px) {
    .popup-content {
        width: 30%;
        height: 25%;
    }
    
    .popup-content > button {
        width: 10%;
    }
}